spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/opensam
    username: opensam
    password: opensam123

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true

  data:
    redis:
      host: localhost
      port: 6379
